body {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.box {
    width: 350px;
    height: 600px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    /*  border: 1px solid grey;*/
    /*border-radius: 10px;*/
    position: relative;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.box-header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    text-align: center;
    line-height: $lh;
}


.box-content {
    font-size: 20px;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 500px;
    padding: 25px;
    text-align: right;

}

.box-current-temp {
    font-size: 50px;
    position: absolute;
    top: 180px;
    width: 300px;
    height: 100px;
    padding: 25px;
    text-align: center;

}

img {
    height: 90px;
    width: auto;
}

.box-image {
    font-size: 19px;
    position: absolute;
    top: 350px;
    width: 300px;
    height: 100px;
    padding: 25px;
    text-align: center;

}

.big-temp-sup {
    font-size: 30px;
}

.small-temp-sup {
    font-size: px;
}
